.container {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
  line-height: 1.5;
  overflow: hidden;
  color: #1a2027; */
  /* padding: 0 16px; */
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 400;
  color: #1a2027;
  word-break: break-word;
}
.container code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(102, 178, 255, 0.15);
  border-radius: 6px;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}
.container li > code {
  padding: 0.1em 0.4em 0.2em 0.4em;
}
.container pre > code {
  display: inline-block;
  width: 100%;
  overflow: auto;
  border: 1px solid rgb(231, 235, 240);
  border-radius: 5px;
  padding: 16px;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #fcfcfc !important;
}

.container img {
  margin: 1rem 0;
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  cursor: pointer;
}

/* .container iframe {
  width: 100%;
  height: 56.25vw;
  margin: 1rem 0;
  max-width: 500px !important;
  max-height: 281.25px !important;
  margin-left: 50%;
  transform: translateX(-50%);
} */

.container p,
.container blockquote,
.container ul,
.container ol,
.container dl,
.container table,
.container pre,
.container details {
  margin-top: 0;
  margin-bottom: 16px;
}

.container .ul,
.container ol {
  padding-left: 2em;
}

/* .container li + li {
  margin-top: 0.25em;
} */

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.container h1 {
  font-family: PlusJakartaSans-ExtraBold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 2.25rem;
  line-height: 1.22222;
  letter-spacing: 0.2px;
  font-weight: 800;
  margin: 10px 0px;
  color: rgb(10, 25, 41);
}
.container h2 {
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: rgb(26, 32, 39);
  font-weight: 700;
  margin: 40px 0px 4px;
}

.container h3 {
  font-size: 1.25rem;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 600;
  color: rgb(26, 32, 39);
  margin: 24px 0px 8px;
}

.container h4 {
  font-size: 1.125rem;
  line-height: 1.3333333333333333;
  letter-spacing: 0;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #1a2027;
  margin: 24px 0 8px;
}
.container h5 {
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.57;
  color: #1a2027;
  margin: 20px 0 8px;
}
.container h6 {
  display: block;
  font-size: 0.67em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.container hr {
  border: none;
  border-bottom: 1px solid rgb(231, 235, 240);
  margin: 1em 0;
}

.container blockquote {
  border-radius: 10px;
  border: 1px solid;
  border-left: 8px solid;
  border-color: #ffdc48;
  background-color: #fff9eb;
  padding: 10px 20px;
  margin: 20px 0;
}

.container blockquote p {
  margin-top: 10px;
  color: #001e3c;
}

.container a,
.container a code {
  color: #0072e5;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  text-decoration-color: rgba(0, 127, 255, 0.4);
}

.container aside {
  padding: 16px;
  margin: 16px 0;
  border: 1px solid;
  border-radius: 10px;
}

/* error */
.container aside {
  color: #570007;
  background-color: #fff0f1;
  border-color: #ffbdc2;
}

/* success */
.container aside {
  color: #0f5c2e;
  background-color: #e9fbf0;
  border-color: #9aefbc;
}
/* info */
.container aside {
  color: #003a75;
  background-color: rgba(240, 247, 255, 0.8);
  border-color: #c2e0ff;
}
/* 
@media screen and (min-width: 768px) {
  .container iframe {
    width: 50vw;
    height: 28.125vw;
  }
}

@media screen and (min-width: 992px) {
  .container iframe {
    width: 50vw;
    height: 28.125vw;
  }
} */
